*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

header {
    padding: 15%;
    background-color:darkgray;
    background-image: url(../images/etching_bull2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    color: #ffffff;
    
}
nav ul {
   display:flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    position:fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
}

nav ul li a:link {
    text-decoration: none;
    color: #ffffff;
}

nav ul a:visited {
    color: #ffffff;
}

nav ul a:hover {
    color: #ff9900;
}

h1 {
    color: #e6e6e6;
    font-size: 2rem;
}

#home {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
}

#home ul {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;

    
    
}

#home ul a:link, a:visited {
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    height:18rem;
    width: 18rem;
    margin: 11px;
    color: transparent;
    text-align: center;

}
#home ul li a:hover{
    background-blend-mode: overlay;
    color: #ffffff;
    background-color: rgba(0,0,0,.5);
    
}

.portrait {
    background-image: url(../images/portrait_40min.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center top;
    
}
.figure {
    background-image: url(../images/figure_lyingdown.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}
.illustration {
    background-image: url(../images/mermaids.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.sketch {
    background-image: url(../images/figure_sketch.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.painting {
    background-image: url(../images/profile_oil.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.prints {
    background-image: url(../images/etching_bull.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.photograph {
    background-image: url(../images/custom_p.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.nature {
    background-image: url(../images/nature_watercolor.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

footer {
    
  position:inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}


.fab {
    text-decoration: none;
    color: grey;
    width: 10%;
    font-size: 2rem;
    
    
}
.far {
    text-decoration: none;
    color: grey;
    font-size: 2rem;
}
.fab:hover {
    color:#ff9900;
}
.far:hover {
    color:#ff9900;
}


/*form css below*/

form {

     margin-top: 5rem;
        
}

h2 {
    font-weight: 200;
    text-align: left;
        
}
.container {
    width:100%;
    text-align: left;
    margin-top: 15rem;
    height:90%;
}
.form-wrapper{
    margin: 0 26%;
}
input[type=text], select, textarea {
    width:100%;
    border: solid 1px #bfbfbf;
    padding: 0.5rem;
    
    
}
input[type=email], select, textarea {
    width:100%;
    border: solid 1px #bfbfbf;
    padding: 0.5rem;
}

input[type=submit] {
  background-color: #ff9900;
  color: white;
  padding: 10px 70px;
  border: none;
  cursor: pointer;
    font-size: 1rem;
    
}
    
input[type=submit]:hover {
    background-color: #e68a00;
}
input, textarea{
    padding-left: 10px;
    
}

/*portrait gallery css*/


.column {
    width:10rem;
    height:auto;    
}


/* Style the images inside the grid */
.column img {
  cursor: pointer; 
   }

img {
    padding:0.7rem;
}

.two {
    margin-top:6rem;
}


/* Clear floats after the columns */
.row {
    
    padding: 10px;
    margin: 20px ;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:auto;    
}

/* The expanding image container */
.expanded {

  display: block;
    width: 50rem;
    text-align: center;
    margin-top: 8rem;
    color:black;
    
}
main {
    display:flex;
}


/*Media Queries*/
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    
    nav ul {
        flex-direction:column;
    }
    
    h1 {
        padding-top: 1rem;
        font-size: 16px;
    }
    .expanded {
        display:none;
        
    }
    .column {
        width:100%;
        margin:0;
        padding:0;
        pointer-events: none;
    }
    
    nav {
    height: 7rem;
    }
    
    nav ul li a:link {
        font-size:10px;
    }
    
    header {
        padding:25%;
    }
    .row {
        width:80%;
        padding:0;
        margin-left:4rem;
        text-align:center;
    }
    
    script {
        display:none;
    }