*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    padding-bottom:65px;
}

header {
    padding: 15%;
    background-color:#A9A9A9;
    background-image: url(../images/etching_bull2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    color: #ffffff;
    }

.name a {
    display:inline-block;
}

/*Hidden dropdown menu */

.dropdown {
    display:none;
}
nav ul {
   display:flex;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav {
    height: 5rem;
    position:fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width:100%;
}

nav ul a:link {
    text-decoration: none;
    color: #ffffff;
    padding-left: 1rem;
 
}

nav ul a:visited {
    color: #ffffff;
}

nav ul a:hover {
    color: #ff9900;
    
}

h1 {
    color: #e6e6e6;
    font-size: 2rem;
}
 h1:hover {
     color:#ff9900;
 }
 

#home {
    width: 80%;
    padding: 10px;
    margin: 20px auto;
}

#home ul {
    display:flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
}

#home ul a:link, a:visited {
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ffffff;
    height:19rem;
    width: 19rem;
    margin: 11px;
    color: transparent;
    text-align: center;

}
#home ul li a:hover{
    background-blend-mode: overlay;
    color: #ffffff;
    background-color: rgba(0,0,0,.5);
    
}

/* Images for Links */

.portrait {
    background-image: url(../images/portrait_40min.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center top;
    
}
.figure {
    background-image: url(../images/figure_lyingdown.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}
.illustration {
    background-image: url(../images/mermaids.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.sketch {
    background-image: url(../images/figure_sketch.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.painting {
    background-image: url(../images/profile_oil.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.prints {
    background-image: url(../images/etching_bull.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.photograph {
    background-image: url(../images/custom_p.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}

.nature {
    background-image: url(../images/nature_watercolor.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    
}


footer {
    display:block;
    position:relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
    
}


.fab {
    text-decoration: none;
    color: #808080;
    width: 10%;
    font-size: 2rem;
    
    
}
.far {
    text-decoration: none;
    color: #808080;
    font-size: 2rem;
}
.fab:hover {
    color:#ff9900;
}
.far:hover {
    color:#ff9900;
}


/*form css below*/

form {

     margin-top: 5rem;
        
}

h2 {
    font-weight: 200;
    text-align: left;
        
}
.container {
    width:100%;
    text-align: left;
    margin-top: 15rem;
    
}
.form-wrapper{
    margin: 0 26%;
}
input[type=text], select, textarea {
    width:100%;
    border: solid 1px #bfbfbf;
    padding: 0.5rem;
    
    
}
input[type=email], select, textarea {
    width:100%;
    border: solid 1px #bfbfbf;
    padding: 0.5rem;
}

input[type=submit] {
    background-color: #ff9900;
    color: white;
    padding: 10px 70px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width:100%;
}
    
input[type=submit]:hover {
    background-color: #e68a00;
}
input, textarea{
    padding-left: 10px;
    
}

/*portrait gallery css*/


.column {
    width:10rem;
    height:auto;    
}


/* Style the images inside the grid */
.column img {
  cursor: pointer; 
   }

img {
    padding:0.7rem;
}

.two {
    margin-top:6rem;
}


/* Clear floats after the columns */

.row {
    padding: 10px;
    margin: 20px ;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:auto;    
}

/* The expanding image container */

.expanded {
    display: block;
    width: 50rem;
    height:auto;
    text-align: center;
    margin-top: 8rem;
    margin-left:0.83em;
    color:#000000;
    
}
main {
    display:flex;
    min-height:100%;
}

#about  {
   display:flex;
   padding-top:7rem;
   flex-direction:column;
   align-items:center;
   
}
#about img {
    width:300px;
    
}
#about p {
    width:600px;
    padding: 1rem;
    line-height: 1.8;
    word-spacing: 0.2rem;
    
}

#about p a {
    text-decoration: none;
    font-weight: bold;
    color:#ff9900;
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
    
    h1 {
        padding-top: 1rem;
        font-size: 16px;
        
    }
    nav ul a{
        display:none;
    }

    nav ul {
        flex-direction: column;
    }
    
  
    .dropdown {
        display:inline-block;
        position:relative;
    }
    .dropbtn {

        border:none;
        margin-top:6px;
        cursor:pointer;
        background-color: transparent;
        color:#FFFFFF;
        font-size: 14px;
     }
    
    .dropdown-content {
        display:none;
        position:absolute;
        color:#000000;
        background-color:#f9f9f9;
        z-index:1;
         }
    
    .dropdown-content a{
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align:center;
        background-color:#000000;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1
        
    }

.dropdown:hover .dropdown-content {
  display: block;
  color:#000000;
}

    .expanded {
        display:none;
        
    }
    .column {
        width:100%;
        margin:0;
        padding:0;
        pointer-events: none;
    }
    
    nav {
    height: 7rem;
    }
    
    header {
        padding:25%;

    }
    .row {
        width:80%;
        padding:0;
        margin-left:4rem;
        text-align:center;
    }
    
    script {
        display:none;
    }
    
    #about p {
        font-size: 12px;
        width:300px;
    }
    
    /*input[type=submit]{*/
    /*    -moz-border-radius: 0px; */
    /*    -webkit-border-radius: 0px; */
    /*    border-radius: 0px; */
    /*}*/
    
    input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
    
}    